<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Login</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <%= stylesheet_link_tag :application_admin, media: "all" %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    <%= csrf_meta_tags %>
    <meta name="google" content="notranslate">
  </head>
  <body class="<%= yield :body_class %>">
    <%= yield %>
    <%= javascript_include_tag :application_admin %>
  </body>
</html>
